
/*------------------------------------*\
  #TEXT BOXES
\*------------------------------------*/
.template-text {
  height: 100px;
}

.suggestion-text {
  width: 95%;
  max-height: 500px;
  height: 100%;
}
