
.limited-height {
  max-height: 600px
}


.horizontal-margin {
  margin: 0 20%;
}

.generator-result-text {
  font-size: 18px; 
  width: inherit; 
  min-width: 400px; 
  max-width: 600px; 
  height: 200px
}