/*------------------------------------*\
  #WIDTHS
\*------------------------------------*/

.full-width {
  width: 100%;	
}

.sentence-field {
  width: 80%;
}

.generic-text-field .generic-text-field {
  width: 80%;
  margin-left: 2%;
}

.form-sizing .form-sizing {
  min-width: 500px;
}

.centered-text {
  text-align: center;
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.x-btn {
  padding: 5px 10px;
  float: right;
}


.btn-spacing {
  margin: 2% 0 0 25%
}

